







/* -------------------------------------

----------- Media Queries --------------

----------------------------------------*/

/* ----- Comment to myself and to delete before deliver:
When to use min or max-width
You can set your breakpoints in different ways using min-width, max-width, or even by combining both. 

But the question is, when should you use each one? 

To answer it in a simple way, if you are designing your layout with a mobile-first 
approach, then use min-width breakpoints and work your way up.

Set your default styles for the small device and just adjust for 
larger devices accordingly.

Likewise, if you are designing for larger devices first, then set your 
default CSS as you normally would and adjust for smaller devices 
with the max-width approach.*/


@media (max-width: 400px){
 

body {
	background-color: #f09a9d; 
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	margin: 0;
}

.header {
	display: flex;
	flex-direction: column;
	margin-top:0;
	max-width: 100%;
}

.navbar {
	display: flex;
	flex-direction: row;
	
	/*justify-content: space-between;*/
	width: 100%;
	background-color: #F7DF4B;
	/*position: fixed;
	top: 0;*/
	overflow: hidden;
	max-height: 10%;
 
}



@media (min-width: 640px){
 
...
 
}
 
@media (min-width: 768px){
 
...
 
}
 
@media (min-width: 1024px){
 
...
 
}
 
@media (min-width: 1200px){
 
...
 
}





