
body { 	
	display: flex;
	margin: auto;
	flex-direction: column;
	font-family: 'Questrial', sans-serif;
	max-width: 50%;

}

.header {
	display: flex;
	flex-direction: column;
	margin-top:0;
	width: 100%;

}

.navbar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	background-color: #F7DF4B;
	position: fixed;
	top: 0;

}

div.navbar ul {
	margin-left: 0;
}

.li-de-nav {
	display: inline-block;
	text-transform: uppercase;
	list-style: none;
	padding: .5rem;
}

div.navbar ul li a {
	color: #000;
	text-decoration: none;
}

.jumbotron {
	background: url(img/hero.jpg);
	background-size: cover;
	width: 100%;
	max-height: 15%;
	object-fit: contain;
}


.for-jumbotron {
	max-width: 100%;
  	max-height: 100%;
  	margin: auto;
  	display: block;

}

h1 {
	font-family: old-standard, serif;
	font-weight: bold;

}














footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
	background-color: #FAFAFA;
}

.footer-img {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.derechos {
	color: #999999;
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.credits {
	display: flex;
	color: #525252;
	font-size: xx-small;

}

.credits a {
text-decoration: none;
color: #000;
}









